.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.admin h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px; 
}

button {
    padding: 10px 20px;
    background-color: #161D6F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.roll-list {
    margin-top: 20px;
    width: 100%; 
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
}

.roll-list ul {
    list-style-type: none;
    padding: 0;
    display: contents; 
}

.roll-list li {
    background-color: rgb(192, 207, 247); 
    padding: 15px; 
    border-radius: 8px; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.roll-list li button {
    margin: 1px; 
    background-color: #ff4757; 
}

.roll-list li button:hover {
    background-color: #e84118; 
}

.roll-list li button:nth-child(2) {
    background-color: #1e90ff; 
}

.roll-list li button:nth-child(2):hover {
    background-color: #3498db; 
}