.img-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.text-section {
    flex: 1; 
    padding: 16px; 
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    margin-top: 0; 
}

.text-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #161D6F;
}

.text-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.image-section {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    height: 70%; 
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin-top: 30px; 
    background-color:  #161D6F;
    padding: auto;
    border-radius: 20px;
}

.slide-image {
    width: 100%;
    max-width: 500px; 
    height: auto; 
    object-fit: cover;
    position: absolute;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    border: 4px solid white;
   border-radius: 20px;
}

.slide-image.active {
    opacity: 1;
}

.table-of-contents {
    margin-top: 10px; 
}
